$appContainerHeight: 100vh;
$appContainerWidth: 100vw;
$pageContainerHeight: 77.5vh;
$flexDisplay: flex;
$flexDirectionColumn: column;
$flexDirectionRow: row;
$center: center;
$hundredPer: 100%;
$blue: rgb(26, 90, 241);
$navbarTextColor: white;
$oneHundredPer: 100%;
