@import "../../../stylesConfig/stylesConfig.scss";

.checkoutPageContainer {
  height: $pageContainerHeight;
  width: $oneHundredPer;
  display: $flexDisplay;
  justify-content: $center;
  align-items: $center;
}
